#虚拟环境
venv/
.venv/
env/

#python缓存
__pycache__/
*.pyc
*.pyo

#streamlit相关缓存、密钥
.streamlit/*.toml
.streamlit/secrets.toml

# 重点：你的会话文件夹在AI_partner内部，必须写完整相对路径
AI_partner/sessions/

#密钥、环境变量
.env
*.key

#IDE配置
.vscode/
.idea/

#系统垃圾
.DS_Store
Thumbs.db
